<main class="container  w-50 p-3">
  {{#if shortenerURL }}

  <div class="container">
    <form action="/outcome" method="post">
      <h1 class=" d-block  m-5">Please use this link:</h1>
      <p>{{ host }}/{{shortenerURL}}</p>
      <button class="btn btn-primary d-block m-5" type="submit" id="submit-button">Copy</button>
    </form>
  </div>

  {{else}}

  <div class="container">
    <form action="/outcome" method="post">
      <h1 class=" d-block  m-5">縮網址</h1>
          {{!-- 若使用者沒有輸入內容，就按下了送出鈕，需要防止表單送出並提示使用者 --}}
      <input type="text" placeholder="請輸入網址" class="m-5" aria-describedby="submit-button" name="data" required>
      <button class="btn btn-primary d-block m-5" type="submit" id="submit-button">SHORTEN</button>
    </form>
  </div>

  {{/if}}
  
</main>