<main class="container  w-50 p-3">

  <div class="container ">
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="這個圖片"
      class="w-25 p-3">
  </div>

  <div class="container">
    <form action="/outcome" method="post">
      <h1 class=" d-block  m-5">縮網址</h1>
      <input type="text" placeholder="請輸入網址" class="m-5" aria-describedby="submit-button" name="data">
      <button class="btn btn-primary d-block m-5" type="submit" id="submit-button">SHORTEN</button>
    </form>
  </div>
</main>